n8n/Workflows/AI_Literature_Feed_Automation_public.json
{
  "name": "AI Literature Feed Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        16
      ],
      "id": "71fb0b19-eec3-4e6b-914d-f0080236ba21",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://literature-feed-api:8000/run_feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"config_path\": \"config/interests.yaml\",\n  \"use_ollama\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        16
      ],
      "id": "0bfd4cef-0233-4419-8f3a-d3fb694a2783",
      "name": "Run Research Feed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "378a3fdb-2c2d-4f10-9f7d-e3017d5b7890",
              "leftValue": "={{$json.outputs?.count || $json.processed_count || ($json.papers ? $json.papers.length : 0)}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        16
      ],
      "id": "e08e1759-322e-42eb-b715-5916e237efc1",
      "name": "Papers found"
    },
    {
      "parameters": {
        "jsCode": "const summary =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  \"No summary generated.\";\n\nconst previous = $(\"Papers selection\").first().json;\nconst o = previous.outputs || {};\n\nconst totalCount =\n  o.count ??\n  previous.processed_count ??\n  previous.raw_count ??\n  \"the selected\";\n\nconst summarizedCount = previous.papers ? previous.papers.length : 0;\n\nconst htmlSummary = summary\n  .replace(/\\n/g, \"<br>\")\n  .replace(/\\*\\*(.*?)\\*\\*/g, \"<strong>$1</strong>\");\n\nconst html = `\n<h2>🔬 AI Literature Feed Digest</h2>\n\n<p>\n<strong>${totalCount}</strong> relevant papers were identified.\n</p>\n\n<p>\nThe complete dataset is attached as BibTeX/RIS exports together with the generated markdown digest.\n</p>\n\n<p>\nThe top <strong>${summarizedCount}</strong> ranked papers are summarized below.\n</p>\n\n<hr>\n\n<div style=\"\nfont-family: Arial, sans-serif;\nline-height: 1.7;\nfont-size: 15px;\n\">\n${htmlSummary}\n</div>\n\n<hr>\n\n<p style=\"font-size:12px;color:#666;\">\nAutomatically generated using the AI-assisted literature monitoring pipeline.\n</p>\n`;\n\nreturn [{\n  json: {\n    subject: \"AI Literature Feed Digest\",\n    html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        224
      ],
      "id": "afd24235-2c2c-4cd9-b397-127bb9419745",
      "name": "Prepare Message"
    },
    {
      "parameters": {
        "fromEmail": "your_email@example.com",
        "toEmail": "recipient@example.com",
        "subject": "={{$json.subject}}",
        "html": "={{$json.html}}",
        "options": {
          "appendAttribution": false,
          "attachments": "attachment_1,attachment_2,attachment_3"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        368,
        336
      ],
      "id": "2603c51b-1bce-4c69-a078-47f6bdc13062",
      "name": "Send an Email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my scientific research assistant specialized in:\n- SiOC\n- polymer-derived ceramics (PDCs)\n- lithium-ion batteries\n- sodium-ion batteries\n- battery anodes\n- electrochemical energy storage materials\n\nYou will receive paper metadata and abstracts.\n\nUse ONLY the provided information.\nDo not invent mechanisms, electrochemical results, conductivity effects, synthesis details, cycling stability claims, or performance improvements unless they are explicitly stated.\n\nFor each selected paper, use exactly this format:\n\nPaper X\nTitle:\nAuthors:\nJournal:\nYear:\nDOI:\nURL:\n\nRelevance: XX/100 | Battery: High/Medium/Low | SiOC/PDC: High/Medium/Low\nMatched keywords:\n\nSummary:\n[Write 1–3 concise scientific sentences.]\n\nRules:\n- Keep the language scientific, concise, and professional.\n- Do not add bullet points.\n- Do not add extra sections or headings.\n- Do not write:\n  - \"The scientific contribution lies in...\"\n  - \"No specific information is provided.\"\n  - vague claims such as \"improved performance\" unless the improvement is explicitly stated.\n- Use only facts supported by the provided metadata or abstract.\n- If only the title is informative, summarize cautiously without hallucinating details.\n- For review papers, explicitly state that the paper is a review.\n- Preserve chemical formulas in compact scientific notation:\n  - Mo4.8Si3C0.6/MoC/SiOC\n  - Si/SiOC\n  - SiCN\n  - Li-ion\n- Keep summaries compact and readable for rapid literature triage.\n- Do not write an introduction or conclusion sentence.\n\nPapers:\n\n{{$json.top_papers_text}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        144,
        0
      ],
      "id": "6cb232e1-8a67-4e71-8c99-6855776a1e65",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.1,
          "topP": 0.8
        },
        "baseUrl": "http://host.docker.internal:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        480,
        112
      ],
      "id": "b5d8859c-feaa-453c-b57b-17e44552d9a5",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "jsCode": "const outputs = $json.outputs;\nconst papersRaw = $json.papers || [];\n\nconst papers = papersRaw\n  .filter(p => {\n\n    const text =\n      `${p.title || \"\"} ${p.abstract || \"\"}`.toLowerCase();\n\n    const isSiOC =\n      text.includes(\"sioc\") ||\n      text.includes(\"silicon oxycarbide\") ||\n      text.includes(\"polymer-derived\") ||\n      text.includes(\"polymer derived\");\n\n    const isBattery =\n      text.includes(\"battery\") ||\n      text.includes(\"anode\") ||\n      text.includes(\"lithium\") ||\n      text.includes(\"sodium\") ||\n      text.includes(\"electrochemical\") ||\n      text.includes(\"capacity\") ||\n      text.includes(\"cycling\");\n\n    return isSiOC && isBattery;\n  })\n  .slice(0, 5);\n\nconst topPapersText = papers.map((p, i) => `\n\nPaper ${i + 1}\n\nTitle:\n${p.title || \"Untitled\"}\n\nAuthors:\n${(p.authors || []).join(\", \")}\n\nJournal:\n${p.journal || p.source || \"Unknown\"}\n\nYear:\n${p.year || \"\"}\n\nDOI:\n${p.doi || \"No DOI\"}\n\nURL:\n${p.url || \"\"}\n\nRelevance score:\n${p.relevance_score || \"\"}\n\nBattery relevance:\n${p.battery_relevance || \"\"}\n\nSiOC/PDC relevance:\n${p.sioc_pdc_relevance || \"\"}\n\nAbstract:\n${p.abstract || \"No abstract available\"}\n\n`).join(\"\\n\");\n\nreturn [{\n  json: {\n    outputs,\n    papers,\n    top_papers_text: topPapersText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b32abca8-7d53-4704-ad45-fddf1679336a",
      "name": "Papers selection"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/bibtex/{{$(\"Papers selection\").first().json.outputs.bibtex.split('/').pop()}}",
        "options": {
          "dataPropertyName": "attachment_1"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        240
      ],
      "id": "37857fb0-8280-488d-baa7-d0809f88f54d",
      "name": "Read BIB"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/ris/{{$(\"Papers selection\").first().json.outputs.ris.split('/').pop()}}",
        "options": {
          "dataPropertyName": "attachment_2"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -176,
        240
      ],
      "id": "94d0ab63-56b3-4a5b-babe-5291bc7e4575",
      "name": "Read RIS"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/digests/{{$(\"Papers selection\").first().json.outputs.digest.split('/').pop()}}",
        "options": {
          "dataPropertyName": "attachment_3"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        96,
        240
      ],
      "id": "99ea0ecf-60bd-4c7a-ba79-e0b1d946bb4f",
      "name": "Read Digests"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        464
      ],
      "id": "c5ca40c6-ca75-4390-82b1-8baf95e7e0ec",
      "name": "Email + BIB"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -320,
        480
      ],
      "id": "50dc0bf8-bcc8-4b32-9e99-0e4edf7864fb",
      "name": "Email + BIB + RIS"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        496
      ],
      "id": "7c40573f-e6cb-4be5-a62d-c44137d20286",
      "name": "Email + BIB + RIS + Digest"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run Research Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Research Feed": {
      "main": [
        [
          {
            "node": "Papers found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Papers found": {
      "main": [
        [
          {
            "node": "Papers selection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Email + BIB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Digests",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read RIS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read BIB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Papers selection": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read BIB": {
      "main": [
        [
          {
            "node": "Email + BIB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read RIS": {
      "main": [
        [
          {
            "node": "Email + BIB + RIS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Digests": {
      "main": [
        [
          {
            "node": "Email + BIB + RIS + Digest",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Email + BIB": {
      "main": [
        [
          {
            "node": "Email + BIB + RIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email + BIB + RIS": {
      "main": [
        [
          {
            "node": "Email + BIB + RIS + Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email + BIB + RIS + Digest": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}